@using Eplayers_AspNet.Models
@{
    ViewData["Title"] = "Noticias";
}

 <div class="titulo_pagina">
            <h1>Cadastro de @ViewData["Title"]</h1>
</div>


<form class="cadastro" method="POST" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">

    <div class="campo">
        <label>Titulo</label>
        <input type="text" name="Titulo"/>
    </div>

     <div class="campo">
        <label>Texto</label>
        <input type="text" name="Texto"/>
    </div>

    <div class="campo">
        <label>Imagem</label>
        <input type="file" name="Imagem"/>
    </div>
    
    <button class="gradient btn" type="submit"> Cadastrar </button>
</form>

<div class="container content"> 
<section class = "noticias">
    <div class="card">
        @foreach (Noticia noticia in ViewBag.Noticias)
            {
            
                    <img src="/img/Noticias/@noticia.Imagem" alt="Notícia sobra assunto @noticia.Titulo">
                    <div>

                    <h4 class="card-body">@noticia.Titulo</h4>
                    <p>@noticia.Texto</p>
                    </div>
            }
    </div>
</section>
</div>

  @* <thead>
            <th>ID</th>
            <th>Titulo</th>
            <th>Texto</th>
            <th>Foto</th>
        </thead>
        <tbody>
            @foreach (Noticia noticia in ViewBag.Noticias)
            {
                <tr>
                    <td>@noticia.IdNoticia</td>
                    <td>@noticia.Titulo</td>
                    <td>@noticia.Texto</td>
                    <td><img src="/img/Noticias/@noticia.Imagem" alt="Imagem da equipe @noticia.Titulo" width="40"></td>
                    <td><a asp-area="Link para excluir uma noticia" asp-controller="Noticia" asp-action="Excluir" asp-route-id="@noticia.IdNoticia">Excluir</a></td>
                </tr>
            }
        </tbody> *@