@model Equipe
@{
    ViewData["Title"] = "Jogadores";
}

<form method="POST" action='@Url.Action("Cadastrar")'>
    <label>ID do Jogador</label>
    <input type="text" name="IdJogador"/>

    <label>ID da Equipe</label>
    <select name="IdEquipe">
     @foreach (Equipe equipe in ViewBag.novaListagemdaEquipe)
     {
         <option value="@equipe.IdEquipe">@equipe.Nome</option>
     }
    </select>

    <label>Nome</label>
    <input type="text" name="Nome"/>


    <button type="submit"> Cadastrar </button>
</form>


<table class="table table-striped table-responsive">
    <thead>
        <th>ID Jogador</th>
        <th>ID Equipe</th>
        <th>Nome</th>
    </thead>
    <tbody>
        @foreach (Jogador jogador in ViewBag.Jogadores)
        {
            <tr>
                <td>@jogador.IdJogador</td>
                <td>@jogador.IdEquipe</td>
                <td>@jogador.Nome</td>
                <td><a asp-area="Link para excluir um jogador" asp-controller="Jogador" asp-action="Excluir" asp-route-id="@jogador.IdJogador">Excluir</a></td>
            </tr>
        }
    </tbody>
</table>
